*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}
html,body{
    height: 100%;
    width: 100%;
    background-color:black;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
    height: 15px;
    width: 15px;
    background-color:white;
    border-radius: 50%;
    position: absolute;
    background-color:white;
    mix-blend-mode: difference;
}
h1{
    font-size: 5vw;
    font-weight: 900; 
 }